.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: initial;
}

.med-width {
  width: 85rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: initial;
}

.hero {
  background-image: url('../imgs/sf_skyline_wallpaper_at_night.png');
  background-size: cover;
  min-height: 450px;
}

.hero h2 {
  text-align: center;
  color: white;
  position: relative;
  top: 156px;
}

.footer  {
  background-color: #333333
}

.footer p{
  color: white;
}