/* include your css here */
.container {
        background-color: #d1d1d1;
        padding-left: 40px;
}

.header {
        background-color: orange;
        padding-left: 20px;
        display: block;
}

footer h3 {
        float: left;
        padding-right:20px;
}

.reflection {
  background-color: #DCE9F7;
  margin-top: -16px;
}



h1,h2,h3,h4,h5,h6{
  margin:0;
}