html, body {
  margin: 0;
  font-family: 'Open Sans', Arial, Sans Serif;
  font-size: 100%;
  color: #444;
  height: 100%;
  display:block;
}

h1, h2, h3, h4, h5, h6 {
  color:#444;
  font-weight: normal;
  margin: 0;
}

.header{
  width: 100%;
  background-color: #fff;
  background-repeat: repeat;
  border-bottom: 2px solid #444;
}

.logo_img {
  background-color: #fff;
  margin-left: 40px;
}

ul.social_nav {
  padding: 0;
}

.social_nav li {
  display: inline;
  list-style-type: none;
  padding-right: 2px;
}

.blog{
  background-color: #f0eceb;
  width:100%;
  height: auto;
  float: left;
  padding: 40px 80px;
}

.blog_post {
  float: left;
  width:50%;
  margin-right: 40px;
}

.blog_social {
  width: 50%;
  float: left;
}

.footer {
  float: left;
  background-color: #6c7476;
  padding: 40px 80px;
  height:auto;
  width:100%;
}

.contact{
  width:50%;
  float: left;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
  padding-right: 5px;
}

input, textarea, {
  display: inline-block;
  float: left;
}

label, input, textarea{
  vertical-align: top;
}

.f_container {
  padding: 10px 0;
}

input.btn {
background: #f2f1f1;
height: 30px;
width: 100px;
margin-left: 155px;
}

.footer h2{
  color: #fff;
}

.footer label{
  color: #fff;
}

.previous_post {
  width: 33%;
  float: left;
}

ul{
  padding-left: 0;
}

.previous_post li {
  list-style-type: none;
}

.previous_post li a {
  text-decoration: none;
}
